.link {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid var(--dark);
  cursor: pointer;
  transition: all 0.5s;
  font-size: 12px;
  &:hover {
    background-color: var(--gray);
  }
}