.page {

}

.posts {
  // padding: 12px 0 12px 0;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px dashed var(--gray);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    border-bottom: 1px dashed var(--dark);
  }

  a {
    text-decoration: none;
  }

  h3 {
    margin: 0;
  }
}