@tailwind components;
@tailwind utilities;

body {
  color: var(--dark);
}

.color-primary {
  color: var(--primary);
}

a {
  color: var(--primary);
  transition: all .5s;
}

a:hover {
  opacity: 0.8;
}