/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  :root {
    --rgb-primary: 210 54 105;
    --rgb-secondary: 244 208 176;
    --rgb-contrast: 5 168 180;
    --rgb-white: 255 255 255;
    --rgb-gray: 238 238 238;
    --rgb-dark: 21 21 21;
    --rgb-black: 0 0 0;
    --color-primary: rgb(var(--rgb-primary));
    --color-secondary: rgb(var(--rgb-secondary));
    --color-contrast: rgb(var(--rgb-contrast));
    --color-white: rgb(var(--rgb-white));
    --color-gray: rgb(var(--rgb-gray));
    --color-dark: rgb(var(--rgb-dark));
    --color-black: rgb(var(--rgb-black));
  }

  :root[class~="dark"] {
    --rgb-primary: 210 54 105;
    --rgb-secondary: 244 208 176;
    --rbg-contrast: 5 168 180;
    --rgb-white: 0 0 0;
    --rgb-gray: 21 21 21;
    --rgb-dark: 238 238 238;
    --rgb-black: 255 255 255;
  }
} */

body {
  color: var(--color-dark);
  background-color: var(--color-white);
  font-family: "Hind-Regular", "PingFang SC", "Arial", "Microsoft YaHei", sans-serif !important;
}

a {
  cursor: pointer;
}

a:hover {
  color: var(--color-primary);
}