@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--dark);
}

.color-primary {
  color: var(--primary);
}

.color-dark {
  color: var(--dark);
}

a:hover {
  color: var(--primary);
  opacity: 0.8;
}


.g-text-primary {
  color: var(--primary);
}

.g-text-gray {
  color: var(--gray);
}

.g-text-dark {
  color: var(--dark);
}

.g-bg-primary {
  background-color: var(--primary);
}

.g-bg-dark {
  background-color: var(--dark);
}

.g-bg-gray {
  background-color: var(--gray);
}