.home {
  color: var(--dark);

  :global {
    
    .home-banner {
      display: flex;
      height: 100vh;
      overflow: hidden;

      .home-banner-info {
        width: 37%;
        text-align: center;
      }

      h1 {
        font-size: 100px;
        margin-top: 36vh;
      }


      .home-banner-photo {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        background-image: url(https://xizhi-note-imgages.oss-cn-hangzhou.aliyuncs.com/DSCF0242.jpg);
        background-size: cover;

        img {
          position: absolute;
          right: 0;
          height: 100%;
          transform: rotateY(180deg);
        }
      }
    }

    @media (max-width: 768px) {
      .home-banner {
        height: 50vh;

        h1 {
          font-size: 54px;
          margin-top: 16vh;
        }
      }
    }

    .home-card {
      text-align: center;
      margin: 120px 0 120px 0;

      .home-card-head {
        font-size: 16px;
        text-transform: uppercase;
        padding: 32px 0;
        background: url('https://xizhi-note-imgages.oss-cn-hangzhou.aliyuncs.com/h1-bg.png') no-repeat center bottom;
        letter-spacing: 4px;
      }

      .home-card-content {
        margin: 48px auto;
      }

      .home-card-bottom {}
    }

    .home-post {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1200px;
      margin: auto;

      article {
        display: block;
        width: 500px;
        margin: 0 24px 24px 24px;
        padding: 0 24px 12px 24px;
        transition: all .5s;
        cursor: pointer;

        &:hover {
          background-color: var(--gray);
        }

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          word-break: break-all;
        }
      }
    }

    .home-photos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;

      .home-photo {
        width: 285px;
        height: 400px;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;

        img {
          height: 120%;
          position: absolute;
          right: 0%;
          top: -15%;
          filter: grayscale(100%);
          transition: all .5s;

          &:hover {
            right: -10%;
            filter: grayscale(0%);
          }
        }
      }
    }

    .home-contact {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .home-contact-block {
        width: 300px;
        background-color: #F3F5F8;
        padding: 40px 0 20px 0;
        border-bottom: 2px solid var(--dark);
        transition: all .5s;
        margin: 0 24px 24px 24px;

        span {
          display: block;
          margin-top: 12px;

          &::after {
            display: block;
            content: '';
            width: 60px;
            height: 2px;
            background-color: #CCCCCC;
            margin: 16px auto 30px auto;
          }
        }

        p {
          color: #8c9398;
        }

        &:hover {
          transform: translateY(-20px);
          border-color: var(--primary);
        }
      }
    }


  }
}